@model List<WEBP4.Entities.PrincipalEnt>
@{
    ViewBag.Title = "ConsultarPrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Consulta</h4>

            <table id="tableData" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Código Compra</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Saldo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id_Compra</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Precio</td>
                            <td>@item.Saldo</td>
                            <td>@item.Estado</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
    $(document).ready(function () {
        $('#tableData').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    });
</script>